<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>States</title>
</head>
<body>
<h1>{{ states.title }}</h1>
<hr>
Category: <a href="/category/{{ states.category_name.id }}">{{ states.category_name }}</a><br>
{{ states.text }}<br><br>
<img src="product.pr_photo" alt="In there should be photo, i think i fucked up"><br>
<hr>
<a href="/">Home page</a>
<a href="/add-comment">Add comment</a>
<hr>
Comments: <br>
<hr>
{% for i in comment %}
{{ i.user_name }}<br>
<blockquote style="margin-left: 20px;">{{ i.user_comment }}</blockquote>
<hr>
{% endfor %}




</body>
</html>